.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    align-items: center;
    position: relative;
}

.links a {
    color: #8ea6bb;
    text-decoration: none !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .20em;
    display: inline-block;
    padding: 10px;
    position: relative;
    font-size: 12px;
}

.links a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

.links a:hover {
    color: var(--white);
    transition: all 0.3s;
}

.links a:hover::after {
    width: 100%;
    left: 0;
}

.gradient {
    position: absolute;
    width: 800px;
    height: 150px;
    margin: auto;
    background-color: var(--blue);
    filter: blur(100px);
    z-index: -1;
    top: -120px;
}

.active {
    color: var(--white) !important;
}